<header>
    <h1>${Petition}</h1>
    <div id="menu">Already have an account?<a href="/signin">SIGN IN</a></div>
</header>
<section>
    <h2 class="welcome">Hello!</h2>
    <p class="welcome">We understand you are interested in the topic of
        <i>(insert absolutely unreasonable request to government or other
            non-human entty here)</i>.</p>
    <form method="POST">
        {{#userFeedback}}
            <p class="welcome">{{errorReadingForm}}</p>
            <p class="form-label">{{#if firstName}}{{firstName}}{{else}}First
                    Name{{/if}}</p>
            <input
                class="form-field"
                type="text"
                name="first_name"
                placeholder=""
            />
            <p class="form-label">{{#if lastName}}{{lastName}}{{else}}Last Name{{/if}}</p>
            <input
                class="form-field"
                type="text"
                name="last_name"
                placeholder=""
            />
            <p class="form-label">Email</p>
            <input
                class="form-field"
                type="email"
                name="email"
                placeholder={{#if email}}"{{email}}"{{else}}"{{emailfail}}"{{/if}}"{{emailInUse}}"
            />
            <p class="form-label">Password</p>
            <input
                class="form-field"
                type="password"
                name="password"
                placeholder="{{#if password}}{{password}}{{else}}{{passwordMatch}}{{/if}}"
            />
            <p class="form-label">Repeat Password</p>
            <input
                class="form-field"
                type="password"
                name="password_rep"
                placeholder="{{passwordRep}}"
            />

            <button class="form-submit" type="submit">SIGN UP!</button>

        {{/userFeedback}}
    </form>
</section>