<header>
    <h1>${Petition}</h1>
    <div id="menu">
        <a href="/userdata">YOUR PROFILE</a></div>
</header>
<section>
    <h2 class="welcome">You are nor alone!</h2>
    <p class="welcome">Here is everybody else who signed. So you know that we
        take privacy really seriously!</p>
    {{#supporters}}
        {{#each list}}
            <p class="welcome">{{#if website}}<a
                        href="https://{{website}}"
                    >{{firstname}}
                        {{lastname}}</a>{{else}}{{firstname}}
                    {{lastname}}{{/if}}
                {{age}}
                {{#if city}}<a
                        href="/supporters/{{city}}"
                    >{{city}}</a>{{/if}}</p>
        {{/each}}
    {{/supporters}}
</section>